/* For all devices: */
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.no-gps {
	line-height: 2.5;
	font-size: 1.5rem;
    text-align: center;
	margin-left:20%;
	margin-right:20%;
	min-width:60%;
}
